Repository FidelusAleksander/ghcertified, pull requests merged in 2023-11, with the labels that each got.

#84 fix duplicate question
  content/questions/actions/question-074.md
Labels: actions, content

#94 Update CONTRIBUTING guide
  CONTRIBUTING.md
Labels: documentation

#96 Add advanced security questions 7,8,9,10,11,12
  content/questions/advanced_security/question-007.md
  content/questions/advanced_security/question-008.md
  content/questions/advanced_security/question-009.md
  content/questions/advanced_security/question-010.md
  content/questions/advanced_security/question-011.md
  content/questions/advanced_security/question-012.md
Labels: advanced security, content

#97 Add Advanced Security questions 13,14,15,16,17,18
  archetypes/questions.md
  content/questions/advanced_security/question-013.md
  content/questions/advanced_security/question-014.md
  content/questions/advanced_security/question-015.md
  content/questions/advanced_security/question-016.md
  content/questions/advanced_security/question-017.md
  content/questions/advanced_security/question-018.md
Labels: advanced security, content

#99 Add advanced_security questions 19,20,20,21,22
  content/questions/advanced_security/question-019.md
  content/questions/advanced_security/question-020.md
  content/questions/advanced_security/question-021.md
  content/questions/advanced_security/question-022.md
Labels: advanced security, content

#101 Add advanced security questions 23,24,25,26,27,28
  content/questions/advanced_security/question-023.md
  content/questions/advanced_security/question-024.md
  content/questions/advanced_security/question-025.md
  content/questions/advanced_security/question-026.md
  content/questions/advanced_security/question-027.md
  content/questions/advanced_security/question-028.md
Labels: advanced security, content
