Repository FidelusAleksander/ghcertified, pull requests merged in 2023-12, with the labels that each got.

#103 Add legal disclaimer
  content/_index.md
Labels: content

#107 [Domain 5: Project Management] Add questions for the GitHub Foundations exam
  content/questions/foundations/question-002.md
  content/questions/foundations/question-003.md
  content/questions/foundations/question-004.md
  content/questions/foundations/question-005.md
  content/questions/foundations/question-006.md
  content/questions/foundations/question-007.md
  content/questions/foundations/question-008.md
  content/questions/foundations/question-009.md
  content/questions/foundations/question-010.md
  content/questions/foundations/question-011.md
  content/questions/foundations/question-012.md
  content/questions/foundations/question-013.md
  content/questions/foundations/question-014.md
  content/questions/foundations/question-015.md
  content/questions/foundations/question-016.md
  content/questions/foundations/question-017.md
Labels: foundations, content

#109 [Domain 4: Modern Development] More questions for GitHub Foundations exam
  content/practice_tests/_index.md
  content/practice_tests/foundations.md
  content/questions/foundations/question-018.md
  content/questions/foundations/question-019.md
  content/questions/foundations/question-020.md
  content/questions/foundations/question-021.md
  content/questions/foundations/question-022.md
  content/questions/foundations/question-023.md
  content/questions/foundations/question-024.md
  content/questions/foundations/question-025.md
  content/questions/foundations/question-026.md
  content/questions/foundations/question-027.md
  content/questions/foundations/question-028.md
  content/questions/foundations/question-029.md
  content/questions/foundations/question-030.md
  content/questions/foundations/question-031.md
  content/questions/foundations/question-032.md
  content/questions/foundations/question-033.md
  content/questions/foundations/question-034.md
Labels: foundations, content

#113 Add Foundations questions about Authentication and Security
  content/questions/foundations/question-035.md
  content/questions/foundations/question-036.md
  content/questions/foundations/question-037.md
  content/questions/foundations/question-038.md
  content/questions/foundations/question-039.md
  content/questions/foundations/question-040.md
  content/questions/foundations/question-041.md
  content/questions/foundations/question-042.md
  content/questions/foundations/question-043.md
  content/questions/foundations/question-044.md
  content/questions/foundations/question-045.md
  content/questions/foundations/question-046.md
  content/questions/foundations/question-047.md
  content/questions/foundations/question-048.md
  content/questions/foundations/question-049.md
  content/questions/foundations/question-050.md
  content/questions/foundations/question-051.md
  content/questions/foundations/question-052.md
  content/questions/foundations/question-053.md
Labels: foundations, content

#115 [Domain 7: Benefits of the GitHub Community ] Add Foundations questions q54-q64
  content/questions/foundations/question-054.md
  content/questions/foundations/question-055.md
  content/questions/foundations/question-056.md
  content/questions/foundations/question-057.md
  content/questions/foundations/question-058.md
  content/questions/foundations/question-059.md
  content/questions/foundations/question-060.md
  content/questions/foundations/question-061.md
  content/questions/foundations/question-062.md
  content/questions/foundations/question-063.md
  content/questions/foundations/question-064.md
Labels: foundations, content

#116 [Domain 1: Introduction to Git and GitHub] Add Foundations exam questions
  content/questions/foundations/question-065.md
  content/questions/foundations/question-066.md
  content/questions/foundations/question-067.md
  content/questions/foundations/question-068.md
  content/questions/foundations/question-069.md
  content/questions/foundations/question-070.md
  content/questions/foundations/question-071.md
  content/questions/foundations/question-072.md
  content/questions/foundations/question-073.md
  content/questions/foundations/question-074.md
  content/questions/foundations/question-075.md
  content/questions/foundations/question-076.md
  content/questions/foundations/question-077.md
  content/questions/foundations/question-078.md
  content/questions/foundations/question-079.md
  content/questions/foundations/question-080.md
  content/questions/foundations/question-081.md
  content/questions/foundations/question-082.md
  content/questions/foundations/question-083.md
  content/questions/foundations/question-084.md
  content/questions/foundations/question-085.md
  content/questions/foundations/question-086.md
  content/questions/foundations/question-087.md
Labels: foundations, content

#118 Partial coverage of Domain 3: Collaboration Features
  content/questions/foundations/question-088.md
  content/questions/foundations/question-089.md
  content/questions/foundations/question-090.md
  content/questions/foundations/question-091.md
  content/questions/foundations/question-092.md
  content/questions/foundations/question-093.md
  content/questions/foundations/question-094.md
  content/questions/foundations/question-095.md
  content/questions/foundations/question-096.md
  content/questions/foundations/question-097.md
  content/questions/foundations/question-098.md
Labels: foundations, content

#120 Fixing typos in questions for GitHub Foundations exam
  content/questions/foundations/question-002.md
  content/questions/foundations/question-004.md
  content/questions/foundations/question-005.md
  content/questions/foundations/question-008.md
  content/questions/foundations/question-017.md
  content/questions/foundations/question-034.md
  content/questions/foundations/question-037.md
  content/questions/foundations/question-042.md
  content/questions/foundations/question-060.md
  content/questions/foundations/question-073.md
  content/questions/foundations/question-074.md
  content/questions/foundations/question-086.md
  content/questions/foundations/question-091.md
  content/questions/foundations/question-094.md
Labels: foundations, content

#123 various fixes for GHAS questions
  content/questions/advanced_security/question-010.md
  content/questions/advanced_security/question-025.md
  content/questions/advanced_security/question-028.md
Labels: advanced security, content

#124 Add advanced security questions 32-41
  content/questions/advanced_security/question-032.md
  content/questions/advanced_security/question-033.md
  content/questions/advanced_security/question-034.md
  content/questions/advanced_security/question-035.md
  content/questions/advanced_security/question-036.md
  content/questions/advanced_security/question-037.md
  content/questions/advanced_security/question-038.md
  content/questions/advanced_security/question-039.md
  content/questions/advanced_security/question-040.md
  content/questions/advanced_security/question-041.md
Labels: advanced security, content
