Repository FidelusAleksander/ghcertified, pull requests merged in 2024-02, with the labels that each got.

#189 Update study resources
  content/study_resources/_index.md
Labels: content

#190 Add ~40 GitHub Administration questions
  content/questions/admin/question-022.md
  content/questions/admin/question-024.md
  content/questions/admin/question-025.md
  content/questions/admin/question-026.md
  content/questions/admin/question-027.md
  content/questions/admin/question-028.md
  content/questions/admin/question-029.md
  content/questions/admin/question-030.md
  content/questions/admin/question-031.md
  content/questions/admin/question-032.md
  content/questions/admin/question-033.md
  content/questions/admin/question-034.md
  content/questions/admin/question-035.md
  content/questions/admin/question-036.md
  content/questions/admin/question-037.md
  content/questions/admin/question-038.md
  content/questions/admin/question-039.md
  content/questions/admin/question-040.md
  content/questions/admin/question-041.md
  content/questions/admin/question-042.md
  content/questions/admin/question-043.md
  content/questions/admin/question-044.md
  content/questions/admin/question-045.md
  content/questions/admin/question-046.md
  content/questions/admin/question-047.md
  content/questions/admin/question-048.md
  content/questions/admin/question-049.md
  content/questions/admin/question-050.md
  content/questions/admin/question-051.md
  content/questions/admin/question-052.md
  content/questions/admin/question-053.md
  content/questions/admin/question-054.md
  content/questions/admin/question-055.md
  content/questions/admin/question-056.md
  content/questions/admin/question-057.md
  content/questions/admin/question-058.md
  content/questions/admin/question-059.md
  content/questions/admin/question-060.md
  content/questions/admin/question-061.md
  content/questions/admin/question-062.md
  content/questions/admin/question-063.md
  content/questions/admin/question-064.md
  content/questions/admin/question-065.md
  content/questions/admin/question-066.md
Labels: help wanted, admin, content

#192 Enable Github Admin exam
  content/practice_tests/_index.md
  content/practice_tests/admin.md
Labels: content

#193 add Admin questions
  content/questions/admin/question-067.md
  content/questions/admin/question-068.md
  content/questions/admin/question-069.md
  content/questions/admin/question-070.md
  content/questions/admin/question-071.md
  content/questions/admin/question-072.md
  content/questions/admin/question-073.md
  content/questions/admin/question-074.md
  content/questions/admin/question-075.md
  content/questions/admin/question-076.md
  content/questions/admin/question-077.md
  content/questions/admin/question-078.md
  content/questions/admin/question-079.md
  content/questions/admin/question-080.md
  content/questions/admin/question-081.md
  content/questions/admin/question-082.md
  content/questions/admin/question-083.md
  content/questions/admin/question-084.md
  content/questions/admin/question-085.md
  content/questions/admin/question-086.md
  content/questions/admin/question-087.md
  content/questions/admin/question-088.md
  content/questions/admin/question-089.md
  content/questions/admin/question-090.md
  content/questions/admin/question-091.md
  content/questions/admin/question-092.md
  content/questions/admin/question-093.md
  content/questions/admin/question-094.md
  content/questions/admin/question-095.md
Labels: admin, content

#195 Update question-071.md
  content/questions/admin/question-071.md
Labels: admin, content

#194 Update question-044.md
  content/questions/admin/question-044.md
Labels: admin, content

#197 Add 3 questions to foundations
  content/questions/foundations/question-099.md
  content/questions/foundations/question-100.md
  content/questions/foundations/question-101.md
Labels: foundations, content
