Repository FidelusAleksander/ghcertified, pull requests merged in 2024-08, with the labels that each got.

#266 Fixed typos and updated answer
  content/questions/actions/question-054.md
  content/questions/actions/question-072.md
  content/questions/actions/question-076.md
  content/questions/actions/question-101.md
  content/questions/actions/question-108.md
Labels: actions, content

#269 Fix answers and links in advanced security Q17 and Q74
  content/questions/advanced_security/question-017.md
  content/questions/advanced_security/question-074.md
Labels: advanced security, content

#272 Added new question for foundation, in domains 3 and 6
  content/questions/foundations/question-117.md
  content/questions/foundations/question-118.md
Labels: foundations, content
