Repository FidelusAleksander/ghcertified, pull requests merged in 2024-12, with the labels that each got.

#284 correcting the 116th question answer (suppose to be two correct options)
  content/questions/actions/question-116.md
Labels: actions, content

#285 Fixed markdown for Actions question 116
  content/questions/actions/question-116.md
Labels: actions, content

#289 Add GitHub Copilot to ghcertified
  content/practice_tests/copilot.md
  content/questions/_index.md
  content/questions/copilot/_index.md
  content/questions/copilot/question-001.md
  content/study_resources/_index.md
  static/css/practice-tests.css
  static/images/copilot_badge.png
Labels: content

#293 Fixed the link for GitHub Foundations Question 024
  content/questions/foundations/question-024.md
Labels: foundations, content

#294 Add the link for GitHub Actions Quesion 003
  content/questions/actions/question-003.md
Labels: actions, content

#296 Update question-003.md
  content/questions/foundations/question-003.md
Labels: foundations, content

#298 New GHCP question
  .pre-commit-config.yaml
  CONTRIBUTING.md
  content/questions/copilot/question-002.md
Labels: documentation, content, copilot

#301 Create question-003.md
  content/questions/copilot/question-003.md
Labels: content, copilot

#302 fix: links to explanations for Q21/Q104 for Github Actions
  content/questions/actions/question-021.md
  content/questions/actions/question-104.md
Labels: actions, content
