Repository FidelusAleksander/ghcertified, pull requests merged in 2024-06, with the labels that each got.

#237 New questions to Github Actions
  content/questions/actions/question-096.md
  content/questions/actions/question-097.md
  content/questions/actions/question-098.md
  content/questions/actions/question-099.md
  content/questions/actions/question-100.md
  content/questions/actions/question-101.md
Labels: actions, content

#239 Added question-116 to Advanced Security
  content/questions/advanced_security/question-116.md
Labels: advanced security, content

#238 New questions to GitHub Actions
  content/questions/actions/question-102.md
  content/questions/actions/question-103.md
  content/questions/actions/question-104.md
  content/questions/actions/question-105.md
Labels: actions, content

#240 New questions to GitHub Actions
  content/questions/actions/question-106.md
  content/questions/actions/question-107.md
  content/questions/actions/question-108.md
  content/questions/actions/question-109.md
Labels: actions, content

#242 New questions - GitHub Actions
  content/questions/actions/question-110.md
  content/questions/actions/question-111.md
  content/questions/actions/question-112.md
  content/questions/actions/question-113.md
  content/questions/actions/question-114.md
Labels: actions, content

#243 Change foundations q21 link
  content/questions/foundations/question-021.md
Labels: foundations, content

#244 Fixing wrong question titles
  content/questions/actions/question-106.md
  content/questions/actions/question-107.md
Labels: actions, content

#247 Clarify EMUs in the question
  content/questions/admin/question-019.md
Labels: admin, content

#245 New questions to GitHub Actions
  content/questions/actions/question-115.md
  content/questions/actions/question-116.md
  content/questions/actions/question-117.md
  content/questions/actions/question-118.md
Labels: actions, content
