Repository FidelusAleksander/ghcertified, pull requests merged in 2024-04, with the labels that each got.

#206 Update study resources
  content/study_resources/_index.md
Labels: content

#205 Add 2 questions to foundations
  content/questions/foundations/question-102.md
  content/questions/foundations/question-103.md
Labels: foundations, content

#207 Add 1 question to Actions
  content/questions/actions/question-077.md
Labels: actions, content

#208 Add 2 questions to foundations
  content/questions/foundations/question-104.md
  content/questions/foundations/question-105.md
Labels: foundations, content

#210 fix answer to question-018 - releases/release inconsistant
  content/questions/actions/question-018.md
Labels: actions, content

#209 Add 4 new questions to GitHub Foundations around GitHub administration based on Microsoft Learn guides and GitHub official documentation.
  content/questions/foundations/question-106.md
  content/questions/foundations/question-107.md
  content/questions/foundations/question-108.md
  content/questions/foundations/question-109.md
  cspell.json
Labels: foundations, content

#216 Added and Clarified Pricing Plan Question(s)
  content/questions/foundations/question-076.md
  content/questions/foundations/question-110.md
  content/questions/foundations/question-111.md
Labels: foundations, content

#218 fix: Modify duplicated alternative
  content/questions/foundations/question-099.md
Labels: foundations, content

#219 New questions about markdown in foundations test
  content/questions/foundations/question-112.md
  content/questions/foundations/question-113.md
Labels: foundations, content

#220 Admin question + url improvements for existing admin questions
  content/questions/admin/question-003.md
  content/questions/admin/question-004.md
  content/questions/admin/question-005.md
  content/questions/admin/question-007.md
  content/questions/admin/question-012.md
  content/questions/admin/question-038.md
  content/questions/admin/question-075.md
  content/questions/admin/question-096.md
  cspell.json
Labels: admin, content

#222 New questions about Github desktop in foundations test
  content/questions/foundations/question-114.md
  content/questions/foundations/question-115.md
Labels: foundations, content

#221 Added question 078 to actions
  content/questions/actions/question-078.md
Labels: actions, content
