Repository FidelusAleksander/ghcertified, pull requests merged in 2024-01, with the labels that each got.

#127 Update homepage, remove overview and start adding study resources
  content/_index.md
  content/overview/_index.md
  content/questions/_index.md
  content/study_resources/_index.md
Labels: content

#129 Update Q27 for GHAS
  content/questions/advanced_security/question-027.md
Labels: advanced security, content

#128 Update Q7 for GHAS
  content/questions/advanced_security/question-007.md
Labels: advanced security, content

#131 Add new GHAS questions
  content/questions/advanced_security/question-042.md
  content/questions/advanced_security/question-043.md
  content/questions/advanced_security/question-044.md
  content/questions/advanced_security/question-045.md
  content/questions/advanced_security/question-046.md
  content/questions/advanced_security/question-047.md
  content/questions/advanced_security/question-048.md
  content/questions/advanced_security/question-049.md
  content/questions/advanced_security/question-050.md
Labels: advanced security, content

#135 Small fixes in GHAS questions
  content/questions/advanced_security/question-010.md
  content/questions/advanced_security/question-022.md
  content/questions/advanced_security/question-031.md
  content/questions/advanced_security/question-037.md
  content/questions/advanced_security/question-041.md
Labels: advanced security, content

#138 Add GHAS questions for part of Domain 5
  content/questions/advanced_security/question-063.md
  content/questions/advanced_security/question-064.md
  content/questions/advanced_security/question-065.md
  content/questions/advanced_security/question-066.md
  content/questions/advanced_security/question-067.md
  content/questions/advanced_security/question-068.md
  content/questions/advanced_security/question-069.md
  content/questions/advanced_security/question-070.md
  content/questions/advanced_security/question-071.md
  content/questions/advanced_security/question-072.md
Labels: advanced security, content

#139 Add more GHAS questions for Domain 5
  content/questions/advanced_security/question-073.md
  content/questions/advanced_security/question-074.md
  content/questions/advanced_security/question-075.md
  content/questions/advanced_security/question-076.md
  content/questions/advanced_security/question-077.md
  content/questions/advanced_security/question-078.md
  content/questions/advanced_security/question-079.md
  content/questions/advanced_security/question-080.md
Labels: advanced security, content

#140 Add devcontainers configuration file
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  README.md
Labels: documentation

#142 Update docs
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: documentation

#148 Update meta tags for SEO
  config/_default/params.toml
  content/practice_tests/_index.md
  content/practice_tests/actions.md
  content/practice_tests/admin.md
  content/practice_tests/advanced_security.md
  content/practice_tests/foundations.md
  content/questions/_index.md
  content/study_resources/_index.md
Labels: content

#149 Change html meta tags again
  content/practice_tests/actions.md
  content/practice_tests/admin.md
  content/practice_tests/advanced_security.md
  content/practice_tests/foundations.md
  content/questions/_index.md
  content/questions/actions/_index.md
  content/questions/admin/_index.md
  content/questions/advanced_security/_index.md
  content/questions/foundations/_index.md
  content/study_resources/_index.md
Labels: actions, advanced security, foundations, admin, content

#150 Finish GHAS Domain 5: Use code scanning with CodeQL
  content/questions/advanced_security/question-081.md
  content/questions/advanced_security/question-082.md
  content/questions/advanced_security/question-083.md
  content/questions/advanced_security/question-084.md
  content/questions/advanced_security/question-085.md
  content/questions/advanced_security/question-086.md
  content/questions/advanced_security/question-087.md
  content/questions/advanced_security/question-088.md
  content/questions/advanced_security/question-089.md
  content/questions/advanced_security/question-090.md
Labels: advanced security, content

#151 Add GHAS questions for Domain 7
  content/questions/advanced_security/question-091.md
  content/questions/advanced_security/question-092.md
  content/questions/advanced_security/question-093.md
  content/questions/advanced_security/question-094.md
  content/questions/advanced_security/question-095.md
  content/questions/advanced_security/question-096.md
  content/questions/advanced_security/question-097.md
  content/questions/advanced_security/question-098.md
Labels: advanced security, content

#152 breaking: Add information about the domain/repo name change
  README.md
  content/_index.md
Labels: documentation, content

#154 Replace githubcertified with ghcertified in all occurrences
  CONTRIBUTING.md
  README.md
  config/_default/hugo.toml
  config/_default/menu.toml
  config/_default/params.toml
  content/_index.md
  content/practice_tests/_index.md
  content/questions/_index.md
  layouts/partials/menu-footer.html
Labels: documentation, content

#153 Cleanup after renaming project to ghcertified
  .github/workflows/github-pages.yml
  README.md
  content/_index.md
Labels: documentation, content

#156 Smaller img in README
  README.md
Labels: documentation

#158 Rename practice test param to not be cofused with question param
  content/practice_tests/actions.md
  content/practice_tests/admin.md
  content/practice_tests/advanced_security.md
  content/practice_tests/foundations.md
  layouts/shortcodes/practice_test.html
  layouts/shortcodes/test_cards.html
Labels: content

#161 Allow exams with N questions
  content/practice_tests/actions.md
  content/practice_tests/admin.md
  content/practice_tests/advanced_security.md
  content/practice_tests/foundations.md
  content/questions/admin/question-002.md
  layouts/partials/quizdown.html
  layouts/shortcodes/practice_test.html
  layouts/shortcodes/test_cards.html
Labels: admin, content

#159 Spell Check and Small updates to Devcontainer
  .devcontainer/devcontainer.json
  .github/workflows/pr-checks.yml
  content/questions/actions/question-005.md
  content/questions/actions/question-011.md
  content/questions/actions/question-023.md
  content/questions/advanced_security/question-015.md
  content/questions/advanced_security/question-016.md
  content/questions/advanced_security/question-018.md
  content/questions/advanced_security/question-026.md
  content/questions/advanced_security/question-055.md
  content/questions/advanced_security/question-072.md
  content/questions/advanced_security/question-077.md
  content/questions/advanced_security/question-085.md
  content/questions/advanced_security/question-095.md
  content/questions/foundations/question-010.md
  content/questions/foundations/question-024.md
  content/questions/foundations/question-030.md
  content/questions/foundations/question-044.md
  content/questions/foundations/question-054.md
  content/questions/foundations/question-059.md
  content/questions/foundations/question-061.md
  content/questions/foundations/question-073.md
  cspell.json
Labels: actions, advanced security, foundations, content

#162 add admin questions
  content/questions/admin/question-003.md
  content/questions/admin/question-004.md
  content/questions/admin/question-005.md
  content/questions/admin/question-006.md
  content/questions/admin/question-007.md
  content/questions/admin/question-008.md
  content/questions/admin/question-009.md
  content/questions/admin/question-010.md
  content/questions/admin/question-011.md
  content/questions/admin/question-012.md
Labels: admin, content

#168 Add expandable sections in Contributed Questions page
  content/questions/_index.md
Labels: content

#170 Change Permalinks to RelPermalinks
  content/_index.md
  layouts/shortcodes/library-links.html
  layouts/shortcodes/test_cards.html
Labels: content

#171 Add GHAS questions about Dependency Management
  .github/workflows/pr-checks.yml
  content/questions/advanced_security/question-099.md
  content/questions/advanced_security/question-100.md
  content/questions/advanced_security/question-101.md
  content/questions/advanced_security/question-102.md
  content/questions/advanced_security/question-103.md
  content/questions/advanced_security/question-104.md
  content/questions/advanced_security/question-105.md
  content/questions/advanced_security/question-106.md
  content/questions/advanced_security/question-107.md
  content/questions/advanced_security/question-108.md
  content/questions/advanced_security/question-109.md
  content/questions/advanced_security/question-110.md
  content/questions/advanced_security/question-111.md
  cspell.json
Labels: advanced security, content

#174 Update README.md
  README.md
Labels: documentation

#178 Fix capitalization
  CONTRIBUTING.md
  content/questions/actions/question-002.md
  content/questions/actions/question-010.md
  content/questions/actions/question-014.md
  content/questions/actions/question-016.md
  content/questions/actions/question-017.md
  content/questions/actions/question-019.md
  content/questions/actions/question-020.md
  content/questions/actions/question-023.md
  content/questions/actions/question-026.md
  content/questions/actions/question-028.md
  content/questions/actions/question-029.md
  content/questions/actions/question-034.md
  content/questions/actions/question-035.md
  content/questions/actions/question-041.md
  content/questions/actions/question-042.md
  content/questions/actions/question-044.md
  content/questions/actions/question-045.md
  content/questions/actions/question-047.md
  content/questions/actions/question-048.md
  content/questions/actions/question-049.md
  content/questions/actions/question-053.md
  content/questions/actions/question-055.md
  content/questions/actions/question-056.md
  content/questions/actions/question-059.md
  content/questions/actions/question-062.md
  content/questions/actions/question-065.md
  content/questions/actions/question-066.md
  content/questions/actions/question-068.md
  content/questions/actions/question-069.md
  content/questions/actions/question-070.md
  content/questions/admin/question-001.md
  content/questions/advanced_security/question-004.md
  content/questions/advanced_security/question-011.md
  content/questions/advanced_security/question-013.md
  content/questions/advanced_security/question-014.md
  content/questions/advanced_security/question-015.md
  content/questions/advanced_security/question-021.md
  content/questions/advanced_security/question-026.md
  content/questions/advanced_security/question-029.md
  content/questions/advanced_security/question-031.md
  content/questions/foundations/question-016.md
  content/questions/foundations/question-047.md
  content/questions/foundations/question-048.md
Labels: documentation, actions, advanced security, foundations, admin, content

#179 Fixing typo's / incorrect answers in GHAS questions
  content/questions/advanced_security/question-014.md
  content/questions/advanced_security/question-027.md
  content/questions/advanced_security/question-031.md
  content/questions/advanced_security/question-033.md
  content/questions/advanced_security/question-047.md
  content/questions/advanced_security/question-053.md
  content/questions/advanced_security/question-054.md
  content/questions/advanced_security/question-059.md
  content/questions/advanced_security/question-062.md
  content/questions/advanced_security/question-073.md
  content/questions/advanced_security/question-074.md
  content/questions/advanced_security/question-082.md
  content/questions/advanced_security/question-099.md
  content/questions/foundations/question-015.md
Labels: advanced security, foundations, content

#181 Add number of answers to Foundations q62
  content/questions/foundations/question-062.md
Labels: foundations, content

#182 Add GHAS questions about CVSS
  content/questions/advanced_security/question-112.md
  content/questions/advanced_security/question-113.md
  content/questions/advanced_security/question-114.md
Labels: advanced security, content

#183 GHA Action Question & template fix
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  content/questions/actions/question-076.md
Labels: documentation, actions, content

#184 Fix typo in GHA question 56
  content/questions/actions/question-056.md
Labels: actions, content

#185 add admin questions
  content/questions/admin/question-013.md
  content/questions/admin/question-014.md
  content/questions/admin/question-015.md
  content/questions/admin/question-016.md
  content/questions/admin/question-017.md
  content/questions/admin/question-018.md
  content/questions/admin/question-019.md
  content/questions/admin/question-020.md
  content/questions/admin/question-021.md
  content/questions/admin/question-022.md
  content/questions/admin/question-023.md
  content/questions/admin/question-024.md
  cspell.json
Labels: admin, content
